.page-category {
  .places {
    &--list {
      .letter {
        font-size: 4rem;

        @include bp-1920 {
          font-size: 5rem;
        }
      }

      .place {
        &:before {
          display: none;
        }
        a {
          color: #000;
        }
      }
    }

    &__pagination {
      .page-numbers {
        color: #000;
        opacity: .5;
        padding: 0 5px;

        &.current, &:hover,&.next, &.prev {
          opacity: 1;
        }

      }
    }
  }

  .view {
    display: inline-block;

    svg {
      width: 20px;
      height: 20px;
      cursor: pointer;

      path {
        opacity: .5;
      }
    }

    &.active {
      svg {
        path {
          opacity: 1;
        }
      }
    }
  }

  .select-container {
    position: relative;
    text-transform: uppercase;
    font-size: .9rem;
    line-height: 1.85rem;

    @include bp-1920 {
      font-size: 1.125rem;
      line-height: 2.313rem;
    }

    label {
      position: absolute;
      opacity: .6;

      @include bp-767 {
        position: relative;
      }
    }

    select {
      padding-left: 65px;
      border: none;
      border-bottom: 2px solid #000;
      text-transform: uppercase;
      outline: none;
      font-weight: 700;
      cursor: pointer;

      @include bp-767 {
        border-bottom: none;
        width: 85%;
        padding-left: 20px;
      }

      @include bp-tablet {
        width: 100%;
      }

      option {
        font-weight: 700;
      }

      &.places-sort {
        padding-left: 90px;

        @include bp-767 {
          padding-left: 0;
          width: 79%;
        }
      }
    }
  }

  .filter-text {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.1rem;
    text-transform: uppercase;

    @include bp-1920 {
      font-size: 2.25rem;
      line-height: 2.625rem;
    }

    @include bp-tablet {
      font-size: 1rem;
      line-height: 1.1;
    }
  }

  hr {
    @include bp-767 {
      margin-top: 0;
    }
  }
}