.page-history {
  .section-title {
    white-space: normal;
    transform: translateY(50%);
    position: relative;
    z-index: 10;
  }

  .section-subtitle {
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
    transform: translateY(50%);
    position: relative;
    z-index: 10;

    @include bp-1920 {
      font-size: 3.75rem;
    }

    @include bp-767 {
      font-size: 2rem;

    }
  }

  h3 {
    @extend .section-subtitle;
    transform: none;
  }
}