.page-home {
  .section-title {
    position: relative;
    margin: 0;
    transform: translateY(50%);
    width: auto;
    white-space: nowrap;

    @include bp-tablet {
      white-space: normal;
      width: 90%;
    }

    &--center {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index:20 !important;
    }

    &:after {
      content: '';
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 2px;
      width: 0;
      background-color: #fff;
      position: absolute;
      transition: .5s;
    }

    &:hover {
      &:after {
        width: 100%;
      }
    }
  }

  .masonry-blocks {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;

    @include bp-767 {
      height: auto !important;
    }

    .block {
      width: 50%;
      position: relative;
      text-align: center;

      @include bp-1920 {
        padding: 5.625rem;
      }

      @include bp-767 {
        width: 100%;

      }

      * {
        z-index: 10;
      }

      &:nth-child(2n+1) {
        order: 1;
      }

      &:nth-child(2n+2) {
        order: 2;


      }

      &__bg-image {
        position: absolute;
        width: 100%;
        z-index: 1;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;

        &--main {
          @include bp-767 {
            position: relative;
          }
        }
      }

      &__description {
        position: relative;
        padding: 6rem 1rem 3rem 2rem;
        font-size: 1.5rem;
        font-weight: 700;


        @include bp-1920 {
          font-size: 1.875rem
        }


        @include bp-tablet {
          font-size: 1.375rem;
          line-height: 1.1;
        }
      }

      &__more {
        font-size: 2rem;
        font-weight: 700;
        transform: translateY(-50%);
        position: relative;

        @include bp-1920 {
          font-size: 2.5rem
        }
      }

      &__image {
        padding: 0 4.5rem 0;

        @include bp-767 {
          padding: 3rem 2rem;
        }

        @include bp-tablet {
          padding: 0 2.5rem 0;
          padding: 0 2.5rem 0;
        }

        &--more {
          padding-top: 48px;
          @include bp-767 {
            padding: 3rem 2rem 0;
          }

        }
      }

      &__image--middle {
        position: relative;
        margin-top: 5rem;

        @include bp-767 {
          margin-top: 0;
        }
      }

      &__gif {
        position: relative;
      }

      .center-content {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

