.menu-container {
  background: #131313;
  position: fixed;
  left: -30%;
  width: 30%;
  height: 100%;
  top: 0;
  z-index: 10000;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-transform: uppercase;
  font-weight: 700;
  padding: 30px;

    @include bp-767 {
      left: -70%;
      width: 70%;
    }

  @include bp-tablet {
    left: -40%;
    width: 40%;
  }

  h3 {
    color: #afdefa;
    font-size: 1.9em;
    padding: 20px;
    margin: 0;
  }

  a {
    display: block;
    color: #fff;
    opacity: .5;
    font-size: 2.5rem;
    text-decoration: none;

    @include bp-1920 {
      font-size: 3.125rem;
    }

    @include bp-767 {
      font-size: 2rem;
    }

    @include bp-tablet {
      font-size: 2rem;
    }

    &:hover {
      opacity: 1;
    }
    &:active {
      color: #fff;
    }
  }

  &.container-open {
    left: 0px;
  }

  .main-menu {
    list-style: none;
    padding-left: 0;
  }

  .close-menu {
    float: right;
    cursor: pointer;
  }

  .menu-logo {
    width: 55px;
  }

  .current-menu-item {
    a {
      opacity: 1;

    }
  }
}


