.page-search {
  padding-top: 25vh;


  .local-search {
    .is-form-id-426 {
      border-bottom: 1px solid #000 !important;

      .is-search-input {
        background: none;
        border: none !important;
        font-size: 2rem !important;
        color: #000 !important;

        &:focus, &:hover {
          color: #000 !important;
        }
      }

      input.is-search-submit, .is-search-icon {
        background: transparent;
        color: #000 !important;
        border: none !important;

      }

      .is-search-icon {
        height: 50px;
      }

      .is-search-submit {
        height: 50px;

        svg {
          width: 40px;

          path {
            fill: #000;
          }
        }
      }
    }
  }
}