.single-place {
  .page-header {
    &__opened {
      position: absolute;
      top: 75%;
      left: 50%;
      transform: translateX(-50%);
      width: 90%;
      text-align: center;
      font-size: 2rem;
      line-height: 2.35rem;

      @include bp-1920 {
        font-size: 2.5rem;
        line-height: 2.938rem;
      }

      @include bp-tablet {
        font-size: 1.5rem;
        line-height: 2rem;
      }

      @include bp-767 {
        top: 65%;
      }
    }
  }

  a {
    color: #000;
    text-decoration: underline;
  }

  i {
    width: 20px;
    text-align: center;
    margin-right: 5px;
  }

  .btn {
    font-weight: 700;
    border-radius: 0;
    text-decoration: none;
  }

  .hours {
    &__label {
      @include bp-767 {
        opacity: .5;
      }
    }
  }
}
