.page-visit {
  .select-container {
    position: relative;
    text-transform: uppercase;
    font-size: .9rem;
    line-height: 1.85rem;
    display: inline-block;

    @include bp-1920 {
      font-size: 1.125rem;
      line-height: 2.313rem;
    }

    @include bp-767 {
      width: 100%;
    }

    label {
      position: absolute;
      opacity: .6;

      @include bp-767 {
        position: relative;
      }
    }

    select {
      padding-left: 120px;
      border: none;
      border-bottom: 2px solid #000;
      text-transform: uppercase;
      outline: none;
      font-weight: 700;
      cursor: pointer;

      @include bp-767 {
        border-bottom: none;
        width: 82%;
        padding-left: 20px;
      }

      option {
        font-weight: 700;
      }

      &.places-sort {
        @include bp-767 {
          width: 80%;
          padding-left: 0;
        }
      }
    }
  }

  .nav-tabs {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    text-transform: uppercase;

    @include bp-767 {
      display: block;
      white-space: nowrap;
      overflow: auto;
    }

    .nav-item {
      @include bp-767 {
        display: inline-block;
      }


      &:last-child {
        @include bp-tablet {
          .nav-link {

            padding-right: 0;

          }
        }
      }
    }

    .nav-link {
      color: #000;
      opacity: .4;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1.75rem;
      padding:  1.5rem 1.5rem 1.5rem 0;

      @include bp-1920 {
        font-size: 1.875rem;
        line-height: 2.188rem;
      }

      @include bp-tablet {
        font-size: 1.25rem;
        line-height: 1.5rem;
        padding:  1.52rem 1.25rem 1.25rem 0;
      }


      &.active, &:hover {
        opacity: 1;
        border-color: transparent;
        border-bottom: none;
      }
    }

    .nav-item.show .nav-link {
      border-color: transparent;
      border-bottom: none;
    }
  }

  .locations {
    font-weight: 700;
    opacity: .3;
    display: inline-block;
  }

  .filter-accordion {
    @include bp-767 {
      .btn {
        outline: none;
        font-size: .9rem;
        padding-left: 0;
        padding-right: 5px;

        &:focus {
          box-shadow: none;
        }

        span {
          opacity: .6;

          &.currentFilter {
            opacity: 1;
            font-weight: 700;
            text-transform: uppercase;
            padding-left: 20px;
          }
        }

        img {
          width: 9px;
        }
      }

      .mobile-filter {
        list-style: none;
        padding-left: 0;

        &__item {
          padding: 10px 0;
          text-transform: uppercase;

          img {
            max-width: 20px;
            margin-right: .5rem;
          }

          &.active {
            font-weight: 700;
          }
        }
      }
    }
  }


  .mobile-list {
    @include bp-767 {
      h2 {
        font-size: 1rem;
        font-weight: 700;
        line-height: 1;
      }

      .address, .phone {
        color: #4d4d4d;
      }

      .open-map {
        font-weight: 700;
        color: #000;
      }
    }
  }
}

