/*==================== Variables ====================*/

$sans: 'Work Sans', sans-serif;


/*==================== Keyframes & Mixins ====================*/

@mixin bp-767 {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin bp-tablet {
  @media (min-width: 768px) and (max-width: 991px) {
    @content;
  }
}

@mixin bp-sm-laptop {
  @media (min-width: 992px) and (max-width: 1199px) {
    @content;
  }
}

@mixin bp-1920 {
  @media (min-width: 1920px) {
    @content;
  }
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 5%;
  }
  50% {
    bottom: 1%;
  }
}


h2 {
  @include bp-tablet {
    font-size: 1.5rem;
  }
}
/*==================== Includes ====================*/

@import 'parts/menu';
@import 'parts/home';
@import 'parts/history';
@import 'parts/single-place';
@import 'parts/category';
@import 'parts/visit';
@import 'parts/search';

/*==================== Basic selectors ====================*/

html, body {
  font-family: $sans;
  font-size: 16px;
  scroll-behavior: smooth;

  @include bp-767 {
    font-size: 14px;
  }

  @include bp-tablet {
    font-size: 15px;
  }
}

body {
  border-left: 4vw solid #131313;

  @include bp-767 {
    border-left: none;

    .mobile-height {
      min-height: 400px;
    }

    .view-type {
      opacity: .6;
      font-size: .9rem;
    }
  }

  @include bp-tablet {
    border-left: 6vw solid #131313;
  }
}

img {
  max-width: 100%;
}

header {
  position: relative;
}

a {
  &:hover {
    text-decoration: none;
  }
}

p {
  font-size: 1.1rem;
  line-height: 1.85rem;

  @include bp-1920 {
    font-size: 1.375rem;
    line-height: 2.313rem;
  }
}

svg {
  vertical-align: middle;
}

footer {
  background: #000;
  color: #fff;

  h4 {
    font-size: 1.5rem;
    font-weight: 700;

    @include bp-1920 {
      font-size: 1.875rem;
    }
  }
}

/*==================== Custom classes ====================*/

.logo {
  position: absolute;
  left: 50%;
  top: 30px;
  transform: translateX(-51%);
  z-index: 1000;

  @include bp-767 {
    transform: translateX(-50%);
  }
}

.logo--fixed {
  position: fixed;
  left: calc((100% + 4vw) / 2);
  top: 30px;
  transform: translateX(-57%);
  z-index: 1000;

  @include bp-767 {
    left: 50%;
    transform: translateX(-55%);
  }

  .is-admin & {
    top: 62px;
  }

  @include bp-tablet {
    left: calc((100% + 6vw) / 2);
  }
}

.menu-open {
  width: 4vw;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #131313;
  z-index: 1001;
  cursor: pointer;

  @include bp-767 {
    width: 12vw;
    text-align: center;
    height: 50px;
  }

  @include bp-tablet {
    width: 6vw;
  }

  img {
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);

    @include bp-767 {
      left: 0;
      transform: none;
      position: relative;
      top: 15px;
    }

    .is-admin & {
      top: 50px;
    }
  }
}

.section-title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 4.65rem;
  text-align: center;
  width: 80%;
  display: inline-block;
  position: relative;


  @include bp-1920 {
    font-size: 5rem;
    line-height: 5.813rem;
  }

  @include bp-tablet {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  @include bp-767 {
    font-size: 3rem;
    line-height: 3.5rem;
  }

  .page-header & {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    a {
      color: #fff;
      text-decoration: none;
    }
  }
}

.page-header {

  &__image {
    width: 100%;
    height: 720px;
    object-fit: cover;

    @include bp-1920 {
      height: 900px;
    }

    @include bp-767 {
      height: auto;
    }
  }
}

.footer-menu {
  text-transform: uppercase;
  font-weight: 700;

  ul {
    padding-left: 0;
    list-style: none;

    li {
      font-size: .9rem;
      line-height: 1.25rem;

      @include bp-1920 {
        font-size: 1.125rem;
      }

      a {
        color: #fff;
        opacity: .5;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

.place {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, .64) 0%, rgba(0, 0, 0, 0) 50%);
  }

  a {
    display: block;
    color: #fff;
  }

  &__content {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    background-color: transparent;
    padding-bottom: 5%;
  }

  &:hover {
    .place__content {
      background-color: rgba(0, 0, 0, .6);
    }

    .arrow {
      display: block;
    }

    .place__title {
      &:after {
        width: 100%;
      }
    }
  }

  &__img {
    width: 100%;
    height: 400px;
    object-fit: cover;

    @include bp-1920 {
      height: 500px;
    }

    @include bp-767 {
        height: 200px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.35rem;
    display: inline-block;
    position: relative;

    @include bp-1920 {
      font-size: 2.5rem;
      line-height: 2.938rem;
    }

    @include bp-tablet {
      font-size: 1.5rem;
      line-height: 2rem;
    }

    &:after {
      content: '';
      bottom: -4px;
      left: 50%;
      transform: translateX(-50%);
      height: 2px;
      width: 0;
      background-color: #fff;
      position: absolute;
      transition: .5s;
    }
  }

  &__date {
    position: absolute;
    top: 100%;
    white-space: nowrap;
    font-size: .75rem;

    @include bp-1920 {
      font-size: 0.9375rem;
    }

    @include bp-767 {
      font-weight: 500;
      top: 75%;
    }
  }

  .arrow {
    margin-bottom: 1rem;
    display: none;
  }
}

.footer-logo {
  max-width: 75px;
}

.single-post {
  h2 {
    font-weight: 700;

    @include bp-1920 {
      font-size: 2.5rem;
    }

    @include bp-767 {
      margin-bottom: 2rem;
    }
  }
}

.post-date {
  font-size: .75rem;
  font-weight: 700;

  @include bp-1920 {
    font-size: 0.9375rem;
  }

}

.modal-map {
  @include bp-767 {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;

    .close-map {
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px;
      background: #000;
      z-index: 1001;
    }
  }
}

#map {
  height: 500px;

  .modal-map & {
    height: 100%;
  }

  @include bp-1920 {
    height: 600px;

  }
}

.search-open {
  float: right;
  cursor: pointer;
  margin: 0 2rem;
}

.search-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .9);
  z-index: 100;
  display: none;

  .close-search {
    position: absolute;
    top: 5%;
    right: 5%;
    cursor: pointer;
  }

  .search-form {
    position: absolute;
    top: 50%;
    left: calc((100% + 4vw) / 2);
    transform: translate(-50%, -50%);

    .is-form-id-426 {
      border-bottom: 1px solid #fff !important;

      .is-search-input {
        background: none;
        border: none !important;
        font-size: 2rem !important;
      }

      input.is-search-submit, .is-search-icon {
        background: transparent;
        color: #fff !important;
        border: none !important;

      }

      .is-search-icon {
        height: 50px;
      }

      .is-search-submit {
        height: 50px;

        svg {
          width: 40px;

          path {
            fill: #fff;
          }
        }
      }
    }
  }
}

.mc4wp-form {
  input {

    line-height: 1.125rem;
    font-size: 1rem;

    &[type="submit"] {
      font-weight: 700;
      color: #000;
      background: #fff;
      border: none;
      padding: 1.375rem 1.25rem;
      outline: none;
    }

    &[type="email"] {
      color: rgba( 255,255,255, .5);
      font-weight: 500;
      border: 2px solid #fff;
      background: #000;
      padding:1.25rem;
      width: 300px;
      max-width: 66%;
    }
  }

}

  /*==================== Utilities ====================*/

.full-width {
  width: 100%;
}

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  animation: MoveUpDown 1.3s linear infinite;
}

.addtoany_list a:not(.addtoany_special_service) > span {
  border-radius: 50% !important;
  padding: 8px;
}

.addtoany_shortcode {
  display: inline-block;
  vertical-align: sub;
}



